@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>@Resources.Resource.Support :</strong>   <a href="mailto:israelelectionpolls@gmail.com">israelelectionpolls@gmail.com</a><br />
    http://bhirot.tk/
</address>