@{
    ViewBag.Title = Resources.Resource.Contact;
}
<h2>@ViewBag.Title.</h2>
<h3>@Resources.Resource.ContactDesc</h3>


<address>
    <strong>@Resources.Resource.Support :</strong>   <a href="mailto:israelelectionpolls@gmail.com">israelelectionpolls@gmail.com</a><br />
    <a href="http://bhirot.tk">http://bhirot.tk</a>

</address>