@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>@Resources.Resource.Title</h1>
    <p class="lead">
        <div>
            <div google-chart chart="chart" style="{{chart.cssStyle}}" />
        </div>

</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <p></p><p></p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Resource.Links</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="link in Survery.SelectedSurvery.Links">
                        <img src="{{link.Ico}}" width="40" height="40" />   <a href="#">{{link.Desc}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-xs-12">

    </div>

</div>


