@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>@Resources.Resource.Title</h2>
    <p class="lead">
        <div>
            <div google-chart chart="chart" style="{{chart.cssStyle}}" />
        </div>

</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <p></p><p></p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Resource.Links</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="link in Survery.SelectedSurvery.Links">
                        <img src="{{link.Ico}}" width="40" height="40" />   <a href="#">{{link.Desc}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-xs-12">
        <p></p><p></p>
        <div class="panel  panel-danger">
            <div class="panel-heading ">
                <h3 class="panel-title">@Resources.Resource.Remarks</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        אחוז החסימה היום מעל 4 מנדטים <span class="glyphicon  glyphicon-thumbs-down"></span>
                    </a>
                    <a href="#" class="list-group-item">
                        המפלגות הערביות מחוברות בניהן בחלק מהסקרים כי אין לי נתון לגביהם  <span class="glyphicon glyphicon-volume-off"></span>
                    </a>
                    <a href="#" class="list-group-item">
                       לכו להצביע ,מי שמצביע משפיע <span class="glyphicon   glyphicon-hand-up"></span>
                    </a>
                    <a href="#" class="list-group-item">
                        אן פרסומות וזהו אתר ללא מטרות רווח  <span class="glyphicon glyphicon-usd"></span>
                    </a>
                    <a href="#" class="list-group-item">
                       אתר החדשות שהזמין את הסקר יוצג בכותרת של הגרף וכן בקישורים  <span class="glyphicon  glyphicon-eye-open"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


