
.bgssx {
    background-image: url(telaviv.jpg);
}
.text-title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.countdown-container {
}

.clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.clock-canvas {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: 0px;
    padding-bottom: 100%;
}

.text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 100%;
}

    .text .val {
        font-size: 50px;
    }

    .text .type-time {
        font-size: 20px;
    }

@media (min-width: 768px) and (max-width: 991px) {
    .clock-item {
    
        width: 130px;
        margin: 0px 10px 0px 10px;
       
    }
    .text {
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        width: 100%;
    }

        .text .val {
            font-size: 20px;
        }

        .text .type-time {
            font-size: 10px;
        }
    /*.countdown-container{
        display:none;
    }*/
}

@media (max-width: 767px) {
    .clock-item {
        margin: 0px 5px 0px 5px;
        width: 100px;padding:5px;
    }

    .text {
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        width: 100%;
    }

        .text .val {
            font-size: 20px;
        }

        .text .type-time {
            font-size: 10px;
        }
    /*
    .countdown-container{
        display:none;
    }*/
    
    /*.bgssx {
        background-image: none;
    } }*/
}
